ul {
    width: 250px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 4px ridge rgb(56, 74, 113);
    background-image: url(/assets/hed.jpeg);
    background-repeat: no-repeat;
    background-size: 250px 750px;
    opacity: 0.7;
  }
  
  .divClass {
    height: 525px;
  }
   
  img{
    width:250px
  }
 
  
  li a {
    display: block;
    margin: 0 0 2px 0;
    text-decoration: none;
  }
  
  button {
    width: 250px;
    height: 30px;
    background-color: rgb(233, 237, 226);
    color: rgb(4, 4, 4);
    border-radius: 27px;
  }

